<strong>Olá, {{ courier }}</strong>
<p>Houve um cancelamento de encomenda, confira os detalhes abaixo:</p>
<p>
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Data do pedido: </strong> {{ date }} <br />
</p>
